<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>AIMAE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainController</display-name>
    <servlet-name>MainController</servlet-name>
    <servlet-class>com.aimae.controller.MainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainController</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeJoinService</display-name>
    <servlet-name>AimaeJoinService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeJoinService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeJoinService</servlet-name>
    <url-pattern>/AimaeJoinService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeLoginService</display-name>
    <servlet-name>AimaeLoginService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeLoginService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeLoginService</servlet-name>
    <url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeLogoutService</display-name>
    <servlet-name>AimaeLogoutService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeLogoutService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeLogoutService</servlet-name>
    <url-pattern>/AimaeLogoutService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeUpdateService</display-name>
    <servlet-name>AimaeUpdateService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeUpdateService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeUpdateService</servlet-name>
    <url-pattern>/AimaeUpdateService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AimaeSelectAllService</display-name>
    <servlet-name>AimaeSelectAllService</servlet-name>
    <servlet-class>com.aimae.controller.AimaeSelectAllService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AimaeSelectAllService</servlet-name>
    <url-pattern>/AimaeSelectAllService</url-pattern>
  </servlet-mapping>
</web-app>