<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aimae.util.UserMapper">

	<insert id="join" parameterType="com.aimae.model.UserInfo">
		INSERT INTO USERS(USER_NUM,EMAIL,USER_ID,PASSWORD,USER_NAME,PHONE,BIRTH_DATE,USER_ADRRESS) VALUES('us_00' || users_seq.nextval,#{EMAIL},#{USER_ID},#{PASSWORD},#{USER_NAME},#{PHONE},#{BIRTH_DATE},#{USER_ADRRESS})
	</insert>
	
	<select id="checkUserId"  parameterType="com.aimae.model.UserInfo" resultType="string"> 
		SELECT * FROM USERS WHERE USER_ID = #{userId}
	</select>
	
	<select id="login" resultType="com.aimae.model.UserInfo" parameterType="com.aimae.model.UserInfo">
		SELECT * FROM USERS WHERE USER_ID = #{USER_ID} AND PASSWORD = #{PASSWORD}
	</select>
	
	<select id="update" parameterType="com.aimae.model.UserInfo">
		UPDATE USERS SET USER_NAME=#{USER_NAME},EMAIL=#{EMAIL}, PASSWORD=#{PASSWORD}, PHONE=#{PHONE}, USER_ADRRESS=#{USER_ADRRESS}
	</select>
	
	<select id="select" resultType="com.aimae.model.UserInfo" parameterType="com.aimae.model.UserInfo">
		SELECT * FROM USERS
	</select>


</mapper>