<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@project-db-campus.smhrd.com:1524:xe"/>
        <property name="username" value="campus_24IS_CLOUD3_p2_5"/>
        <property name="password" value="smhrd5"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/aimae/mapper/UserMapper.xml"/>
  </mappers>
</configuration>